@model Blog.MVC.Models.Lead

@{
    ViewData["Title"] = "Download";
}

<h1>Download</h1>



<div>
    <h2>Guia de Organização para impressão - <a href="https://drive.google.com/file/d/0B7uvCmupXlciZ1VWUG9oT2p3Z3c/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Guia de Limpeza para impressão - <a href="https://drive.google.com/file/d/0B7uvCmupXlciWE9jT0xTakZqNUU/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Planilha de Controle Financeiro Individual e Compartilhado - <a href="https://drive.google.com/file/d/0B7uvCmupXlcieFQ0QjEwUnpONGc/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Planilha para Organização e Limpeza - <a href="https://drive.google.com/file/d/0B7uvCmupXlciYjd3bllVVlhTbmc/view?usp=sharing">Link </h2></a>
</div>