@model Blog.MVC.Models.Lead

@{
    ViewData["Title"] = "Download";
}

<h1>Download</h1>

<h2>Obrigado pelo interesse em nossos conte&uacute;dos.</h2>
<h2>Aproveite agora seu material e moode com tranquilidade!</h2>

<div>
    <h2>Guia de Organiza&ccedil;&atilde;o para impress&atilde;o - <a href="https://drive.google.com/file/d/0B7uvCmupXlciZ1VWUG9oT2p3Z3c/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Guia de Limpeza para impress&atilde;o - <a href="https://drive.google.com/file/d/0B7uvCmupXlciWE9jT0xTakZqNUU/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Planilha de Controle Financeiro Individual e Compartilhado - <a href="https://drive.google.com/file/d/0B7uvCmupXlcieFQ0QjEwUnpONGc/view?usp=sharing">Link </h2></a>
</div>
<div>
    <h2>Planilha para Organiza&ccedil;&atilde;o e Limpeza - <a href="https://drive.google.com/file/d/0B7uvCmupXlciYjd3bllVVlhTbmc/view?usp=sharing">Link </h2></a>
</div>