@model Blog.MVC.Models.Lead

@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-8">
    <h2>
        Para ter acessos a todos nossos materiais, planilhas e outras ferramentas salva-vidas, Voc&ecirc; precisa fazer seu cadastro rapidinho aqui do lado. <b>Bora l&aacute;?!</b>
    </h2>
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h2 class="alert-danger">@ViewData["Error"]</h2>
    @await Html.PartialAsync("_Lead", new Lead())
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
