@model Blog.MVC.Models.Lead

@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-8">
    <h2>
        <p>Obrigado pelo seu interesse em nossos <b>conte&uacute;dos! Cadastre-se ao lado</b> e receba nossos <b>materiais</b> e <b>ferramentas salva vidas</b> :)</p>
        <p>Todas as publica&ccedil;&otilde;es e materiais que oferecemos s&atilde;o produzidos para que voc&ecirc; <b>moode com tranquilidade.</b></p>

        <p>Seja para <b>fazer faculdade</b> ou mesmo para ter <b>seu pr&oacute;prio espa&ccedil;o</b>, temos certeza que voc&ecirc; precisa deles.</p>
        <p> Para ter acessos a todos nossos <b>materiais, planilhas</b> e outras <b>ferramentas salva-vidas</b>, Voc&ecirc; precisa fazer seu cadastro rapidinho aqui do lado. Bora l&aacute;?!</p>

        <p>Fa&ccedil;a bom proveito :)</p>
    </h2>
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h2 class="alert-danger">@ViewData["Error"]</h2>
    @await Html.PartialAsync("_Lead", new Lead())
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
