@{
    ViewData["Title"] = "About";
}
@model Post
<div class="col-lg-7">
    <h2><p><span style="font-weight: 400; color: #17365d; font-size: 34.666666666666664px; font-family: Cambria;">Moodei</span></p></h2>
    <h4><p><span style="font-weight: 400; color: #17365d; font-size: 12pt; font-family: Cambria;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">Quem a&iacute; j&aacute; n&atilde;o pensou em </span><strong>sair de casa</strong><span style="font-weight: 400;"> e come&ccedil;ar uma carreira solo nesse mund&atilde;o sem porteiras? </span></p>
<p style="text-align: justify;"><span style="font-weight: 400; color: #17365d; font-size: 12pt; font-family: Cambria;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">Seja para fazer faculdade ou mesmo para ter </span><strong>seu pr&oacute;prio espa&ccedil;o</strong><span style="font-weight: 400;">, em algum momento da vida as pessoas precisam abandonar o t&atilde;o acolhedor ninho dos pais e seguir seus rumos.</span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">Nesse momento voc&ecirc; precisa saber exatamente o que te espera e se preparar para ter sucesso nessa nova jornada, pois independente se voc&ecirc; vai entrar no jogo sozinho, em dupla ou em grupo, conhecer as regras e jogar com as cartas na manga vai fazer toda a diferen&ccedil;a.</span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">E como fazer isso acontecer, sem medo de ser feliz? </span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">Somos a </span><strong>Moodei</strong><span style="font-weight: 400;"> e queremos te ajudar sendo o seu guia pr&aacute;tico nessa nova vida. Te damos as melhores dicas, listas e planilhas de organiza&ccedil;&atilde;o pessoal para que voc&ecirc; n&atilde;o fique perdid&atilde;o nessa nova fase! </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Moode com a gente!</span></p>
<p style="text-align: justify;"><span style="font-weight: 400;">Gostou? Quer mais um ombro amigo nesta jornada? Acesse nosso</span> <strong>Guia completo aqui.</strong><span style="color: #00ff00;"> <strong>(link para a p&aacute;gina de cadastro)</strong></span></p>
<p>&nbsp;</p></h4>

   
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    @await Html.PartialAsync("_Lead", new Lead())
</div>