@{
    ViewData["Title"] = "About";
}
@model Post
<div class="col-lg-7">
    <h2>Moodei</h2>
    <h4>
        <p>Quem aí já não pensou em sair de casa e começar uma carreira solo nesse mundão sem porteiras?</p>



        <p>Seja para fazer faculdade ou mesmo para ter seu próprio espaço, em algum momento da vida as pessoas precisam abandonar o tão acolhedor ninho dos pais e seguir seus rumos.</p>

        <p>Nesse momento você precisa saber exatamente o que te espera e se preparar para ter sucesso nessa nova jornada, pois independente se você vai entrar no jogo sozinho, em dupla ou em grupo, conhecer as regras e jogar com as cartas na manga vai fazer toda a diferença.</p>

        <p>E como fazer isso acontecer, sem medo de ser feliz?</p>

        <p>Somos a Moodei e queremos te ajudar sendo o seu guia prático nessa nova vida. Te damos as melhores dicas, listas e planilhas de organização pessoal para que você não fique perdidão nessa nova fase!</p>

        <p>Moode com a gente!</p>

        <p><span style="font-weight: 400;">Gostou? Quer mais um ombro amigo nesta jornada? Acesse nosso</span> <a href="http://moodei.com.br/content/"><strong>Guia completo aqui. </strong></a></p>
    </h4>


</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    @await Html.PartialAsync("_Lead", new Lead())
</div>

@await Html.PartialAsync("_LeadModal", new Lead())