@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPosts.cshtml";
}
@model List<Post>
<div class="col-lg-7 col-xs-10 col-xs-offset-1 col-xs-pull-1">
    <div class="posts col-xs-offset-1 col-xs-pull-1">

        <h1><b>RECENTES</b></h1>

        @foreach (var item in Model)
        {
            <div class="row">
                <h2><b><a href="/post/details/@item.ID">@item.Title</a></b></h2>
                <p>@Html.Raw(item.Text.Substring(0, item.Text.Length < 500 ? item.Text.Length : 500))</p>
                <a href="/post/details/@item.ID">LEIA MAIS...</a>
            </div>
        }
    </div>
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    @await Html.PartialAsync("_Lead", new Lead())
</div>

@section Scripts
{
    <meta property="og:title" content="Moodei" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Context.Request.Host@Context.Request.Path" />
    <meta property="og:image" content="@string.Format("{0}{1}images/logo_principal.png", new string[] { Context.Request.Host.ToString(), Context.Request.Path })" />
}