@{
    ViewData["Title"] = "Home Page";
}
@model List<Post>
<div class="col-lg-8">
    <div class="posts">
        <h1>[RECENTES</h1>
        @foreach (var item in Model)
        {
            <div class="row">
                <h2>@item.Title</h2>
                <p>@Html.Raw(item.Text.Substring(0, item.Text.Length < 500 ? item.Text.Length : 500))</p>
                <a href="/post/details/@item.ID">LEIA MAIS...</a>
            </div>
        }
    </div>
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-6">
    @await Html.PartialAsync("_Lead", new Lead())
</div>
