@{
    ViewData["Title"] = "Home Page";
}
@model List<Post>
<div class="posts">
    <h1>[RECENTES</h1>
    @foreach (var item in Model)
    {
        <div class="row">
            <h2>@item.Title</h2>
            <p>@Html.Raw(item.Text.Substring(0, item.Text.Length < 500 ? item.Text.Length : 500))</p>
            <a href="/post/details/@item.ID">LEIA MAIS...</a>
        </div>
    }
</div>