@model  Lead

<form asp-action="Create" asp-controller="content" method="post" class="bg form col-lg-12">
    <div class="form-horizontal">
        <h4>[ACESSE TODOS OS NOSSOS MATERIAIS E NOVIDADES</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <p><label class="col-md-8">Nome Completo</label></p>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <p><label asp-for="Email" class="col-md-8"></label></p>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <p><label asp-for="State" class="col-md-8"></label></p>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <p><label asp-for="City" class="col-md-8"></label></p>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default col-lg-12" />
            </div>
        </div>
    </div>
</form>